@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Montserrat+Alternates&display=swap');

$font-1: 'McLaren', cursive;
$font-2: 'Montserrat Alternates', sans-serif;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-2;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");  
  overflow: hidden;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "1 2 3 4 5" 
    "6 7 8 9 10"
    "11 12 13 14 15";
}